* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;
}

body {
  background-image: url(assets/bkg_img.jpg); /*Sourced from google */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.navbar-brand {
  font-size: 2rem;
  padding: 0;
}

.card {
  background-color: rgb(23, 23, 23);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.card-title {
  font-weight: 900;
  font-size: 2rem;
}

.album-title {
  font-weight: 700;
  font-size: larger;
}

.btn {
  margin-bottom: 15px;
}

h5,
p {
  opacity: 1;
}

.albumHeader,
.emptyResult {
  color: red;
  background-color: black;
  width: auto;
  border-radius: 5px;
  text-align: center;
}
